* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #4682B4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 32px;
    text-align: center;
    text-transform: uppercase;
    background-color: #C71585;
    color: #fff;
    border-bottom: 6px solid #FFF8DC;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    gap: 16px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    padding: 6px;
    background-color: #FFD700;
    border: 14px solid #fff;
}

.gallery::after {
    content: "";
    width: 100%;
    max-width: 350px;
}